IP=127.0.0.1
DB_ROOT_PASSWORD=password
DB_USER_PASSWORD=password
DB_NAME=wordpress
ENVIRONMENT=local
ACF_PRO_KEY=
SSH_KEY_PATH=
MYSQL_HOST=
SSH_USER=
IP_ADDRESS=
PORT=
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=
